body {
	background-color: #3C98F5;
	font-family: Arial;
	padding:30px;
}

img {
	height: 35px;
	margin: auto;
	display:block;
}

form {
	width: 320px;
	height: 450px;
	background-color: white;
	padding-right: 40px;
	padding-left: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 7px;
}

h1 {
	font-weight: lighter;
	text-align: center;
	padding-top: 25px;
}

.signup input {
	display: block;
	width:286px;
	height:21px;
	padding: 15px;
	margin-top:25px;
	margin-bottom: 25px;
	border-radius: 2px;
}

.signup label {
	font-weight: bold;
}
.signup button {
	height:55px;
	width:320px;
	margin-top: 25px;
	display:block;
	background-color: #22BF6F;
	font-size:20px;
	color:white;
	border-radius: 5px;
}

button:hover {
	background-color: #1A9556;
}

.signup a {
	color:gray;
	font-size: 15px;
	text-align: center;
	margin-top: 10px;
	display:block;
}

p {
	color:white;
	display:block;
	margin:15px;
	text-align: center;
}

p a {
	color:white;
}